:root {
    --primary-color: #504AD0;
    --secondary-color: #017E5F;
    --third-color: tomato;
}

h3 {
    color: rgb(50, 50, 167);
    font-size: 3.5rem;
    padding: 20px;
}

#navbar {
    background: white;
}

#service-container {
    margin: 70px auto 0;

}

.service-body,
#brand-partner {
    margin: 0 10%;

}

.service-feature {
    background-image: linear-gradient(90deg, #017E5F, #019B83);
    color: rgb(50, 50, 167);
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

.service-feature p {
    font-size: 2rem;
    font-weight: 700;
}

.curved-img {
    rotate: 180deg;
    width: 100%;
    position: relative;
    top: -1px;
}

.marketing-slogan {
    color: var(--primary-color);
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
}

.marketing-slogan span {
    color: var(--third-color);
}

form {
    max-width: 80%;
    margin: auto;
}

.form-fields {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -4px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    margin: 10px 2%;
    border-radius: 3px;
    text-align: center;
    min-width: 225px;
    border: 1px solid #504AD0;
}

@media (max-width: 1410px) {
    form {
        max-width: 100%;
    }
}

@media (max-width:768px) {
    .form-fields {
        flex-direction: column;
        left: -10px;
    }

    input {
        min-width: 100%;
    }
}

form img {
    position: absolute;
    margin-top: 8px;
    padding: 10px;
    max-width: 45px;
}

.btn-submit {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
    background-color: #504AD0;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.curved-img-2 {
    rotate: 0deg;
    width: 100%;
}

.Services-content {
    display: flex;
    justify-content: space-between;
}

.Services-content>div {
    border: 1px solid rgb(42, 42, 174);
    border-radius: 10px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.SEO-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/magnifying-glass-with-seo-concepts.jpg);
}

.web-dev-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/programming-background-collage.jpg);
}


.services-segment {
    margin: auto;
    position: relative;
    top: -5px;
    background-image: linear-gradient(90deg, #019B83, #017E5F);
    border-radius: 0 0 10px 10px;
}

.Services-content h2 {
    font-size: 2rem;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
    color: var(--secondary-color);
}

.Services-content p {
    height: 400px;
    padding: 25px;
    color: aliceblue;

}

.service-highlight {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/1.jpg);
    border-radius: 10px;
    color: white;
}

ul {
    margin: 0 5%;
}

.service-highlight li {
    list-style-image: url(../img/rocket.svg);
    margin: 5px;
    padding: 0 0 10px 20px;
    list-style-position: inside;
    background-color: rgba(90, 76, 216, 0.525);
    border-radius: 10px;
}

.service-highlight li::marker {
    font-size: 30px;
}

.brand-partner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 200, 100, 0.3);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin: 30px 0;
}

.brand-partner-container::before,
.brand-partner-container::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.brand-partner-container::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.brand-partner {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(150px * 16);
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-150px * 8))
    }

    1000% {
        transform: translateX(calc(150px * 8))
    }
}

.image-grid>img {
    height: 100px;
    width: 100px;
    margin: 100px;
}

@media (max-width: 768px) {
    .image-grid>img {
        margin: 60px;
    }
}